*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

a:not([class]) {
  text-decoration-thickness: max(0.08em, 1px);
  text-underline-offset: 0.15em;
}

:target {
  scroll-padding-block-start: 2rem;
}

:focus {
  scroll-padding-block-end: 8vh;
}

select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
  color: inherit;
}
