.button {
  color: var(--button-color, var(--primary));
  background-color: var(--button-bg);
  border: 2px solid var(--button-color, var(--primary));
  font-weight: 600;
  letter-spacing: 0.04em;
  text-decoration: none;
  transition: var(--transition);
}

.button:where(:has(.icon)) {
  display: flex;
  gap: 0.5em;
  align-items: center;
}

.button:where(:has(.inclusively-hidden)) {
  border-radius: 50%;
  padding: 0.5em;
}

.button:where(:not(:has(.icon))) {
  text-align: center;
  min-inline-size: 10ch;
}

.button:where(:not(:has(.inclusively-hidden))) {
  padding: var(--button-padding, 0.35em 1em);
  border-radius: 0;
}

.button:hover {
  --button-bg: var(--accent);
  --button-color: var(--primary);
}

.button:focus-visible {
  --outline-style: dashed;
  --outline-offset: -0.35em;
}
